## ----------------------------------------------------------------------------
## EdgeGrid Variables
## ----------------------------------------------------------------------------

edgerc_section = "default"

## ----------------------------------------------------------------------------
## Scope
## ----------------------------------------------------------------------------

contract_id = "ctr_contactID"
group_id    = "grp_groupID"

## ----------------------------------------------------------------------------
## Configuration settings | Property
## ----------------------------------------------------------------------------
product_id             = "Site_Accel"
name                   = "<Config Name>"
hostnames              = ["qa.example.com"]
etls                   = true
default_origin         = "your.origindomain"
sure_route_test_object = "/terraform/srto.html"
td_region              = "CH2"
cpcode_name            = "cpcode_name"

## ----------------------------------------------------------------------------
## Activation
## ----------------------------------------------------------------------------
emails = ["emails for notifications"]


## ----------------------------------------------------------------------------
## Certificate
## ----------------------------------------------------------------------------
secure_by_default = false
certificate_id    = "<cert id>"


## ----------------------------------------------------------------------------
## EdgeHostname
## ----------------------------------------------------------------------------
ip_behavior = "IPV4"














